name: 'dispatch: Build and publish to candidate'

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Build snap
      uses: snapcore/action-build@v1
      id: build-snap
    - name: Install snap
      run: sudo snap install --dangerous ${{ steps.build-snap.outputs.snap }}
    - name: Upload snap
      uses: actions/upload-artifact@v6
      with:
        path: ${{ steps.build-snap.outputs.snap }}
    - name: Publish snap
      uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_LOGIN }}
      with:
        snap: ${{ steps.build-snap.outputs.snap }}
        release: candidate
